@import "~frontend/mixins";

.apps {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1px;

    main {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }

    .app-card {
        max-height: 300px;
        max-width: 300px;
        margin: 30px;
    }
}

@include larger-than(mobile-screen) {
    .apps {
        overflow-y: auto;
    }
}

@include smaller-than(mobile-screen) {
    .apps {
        main {
            justify-content: center;
        }
    }
}
