.my-tag {
    background: black;
    color: white;
    border-radius: 5px;
    padding: 0 7px;
    margin: 0;
    margin-right: 10px;
    list-style-type: none;
    display: inline-flex;
}

.tags {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 10px;
}
