{
    "presets": [
        "@babel/preset-env",
        ["@babel/preset-typescript", { "jsxPragma": "h" }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        ["prismjs", {
            "languages": ["tsx", "html"],
            "plugins": ["line-numbers"],
            "theme": "prism-themes/coldark-dark",
            "css": true
        }],
        ["@babel/plugin-transform-react-jsx", { "pragma": "h" }]
    ]
}