@import 'src/mixins';

.resume-card-wrapper {
    width: 100%;

    &.acquisition {
        border-bottom: 2.5px solid white;
        position: relative;

        .resume-card {
            background: #263342;
        }

        &:after {
            content: "↑";
            position: absolute;
            left: 43px;
            top: calc(100% - 4px);
            line-height: 0;
            font-size: 40px;
            transform: scaleY(1.5);
        }
    }
}

.resume-card {
    display: flex;
    background: var(--primary-bg);
    border-radius: 5px;
    width: 100%;

    img {
        margin: 20px;
        margin-top: 28px;
        height: 70px;
        width: 70px;
        border-radius: 4px;
    }

    .job-info {
        padding: 20px;
        padding-left: 0;
    }

    .position {
        display: flex;
        line-height: 30px;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 5px;
    }

    .time {
        color: var(--secondary-text);
    }

    .dates {
        font-style: italic;
    }
}

@include smaller-than(tiny-screen) {
    .resume-card-wrapper.acquisition {
        &:after {
            left: calc(50% - 12px);
            transform: scaleY(1.1);
            top: calc(100% - 1px);
            
        }
    }

    .resume-card {
        flex-direction: column;

        img {
            padding-bottom: 0;
            margin-bottom: 0;
            width: 80px;
            height: 80px;
            align-self: center;
        }

        .job-info {
            padding-left: 20px;
        }
    }
}