@import 'src/mixins';

.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1px;

    header {
        min-height: 80px;
        max-height: 80px;
        display: flex;
        align-items: center;
        background-color: #7897BF;

        .title {
            font-size: 48px;
            line-height: 48px;
            margin: 0;
            padding-left: 32px;
            font-family: Cairo, sans-serif;
            color: #fff;
        }
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@include smaller-than(mobile-screen) {
    .blog {
        header {
            justify-content: center;
            .title {
                padding: 0;
            }
        }
        
        main {
            justify-content: center;
        }
    }
}

@include larger-than(mobile-screen) {
    .blog main {
        overflow-y: auto;
    }
}

@include larger-than(small-screen) {
    .blog main {
        padding: 15px;
        justify-content: unset;
    }
}