@import 'src/mixins';

.info-card {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--secondary-bg);

    h3 {
        color: var(--secondary-text);
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 700px;
        min-width: 345px;
        padding-right: 30px;
    }

    p {
        margin-top: 10px;
        font-size: 18px;
        line-height: 33px;
    }

    .img-wrapper {
        flex: 1 1 auto;
        max-width: 300px;
        min-width: 100px;
    }

    img {
        max-width: 100%;
    }

    .collapsible-spacer {
        flex: 1 1 auto;
        max-width: 100px;
        width: 100px;
        min-width: 1px;
    }
}

@include smaller-than(mobile-screen) {
    .info-card {
        flex-direction: column-reverse;

        .img-wrapper {
            max-width: 200px;
            max-height: 200px;
        }
        
        .text {
            width: 100%;
            text-align: center;
            margin-top: 10px;
            padding: 0;
        }
    }
}
