.code {
    color: var(--accent-text);
    background: var(--secondary-bg);
    border: 1px solid #a8a8a8;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 3px;
    white-space: pre;
    font-weight: bold;
}
