@import "src/mixins";

.blog-card {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    background: var(--quaternary-bg);
    border-radius: 5px;
    overflow: hidden;

    &:focus-within {
        box-shadow: 0 0 0px 3px var(--focus-shadow);
    }

    &:focus,
    &:hover,
    &:focus-within {
        background: var(--quaternary-bg-active-light);
        outline: none;

        h3 {
            text-decoration: underline;
        }
    }

    h3 {
        text-align: left;
        margin-bottom: 10px;
    }

    h3 {
        color: var(--primary-text);
    }

    p {
        color: var(--secondary-text);
    }

    p.description {
        font-size: 18px;
        line-height: 28px;
        flex-grow: 1;
    }

    p.meta {
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .text-wrapper {
        padding: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .img-wrapper {
        display: flex;
        justify-content: center;
        background: linear-gradient(160deg, rgb(2, 0, 36) 0%, rgb(110, 9, 121) 43%, rgb(0, 255, 239) 100%);

        img {
            height: 175px;
            width: auto;
        }
    }

    .tags {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: flex-start;

        .my-tag {
            margin-right: 10px;
        }
    }
}

@include smaller-than(small-screen) {
    .blog-card {
        padding-bottom: 0px;

        &:last-of-type {
            padding-bottom: 30px;
        }
    }
}

@include smaller-than(mobile-screen) {
    .description {
        overflow: hidden;
    }
}

@include smaller-than(tiny-screen) {
    .blog-card {
        .description {
            display: none;
        }

        h3 {
            text-align: center;
        }

        .meta {
            text-align: center;
        }

        .tags {
            justify-content: center;
        }
    }
}

@include larger-than(small-screen) {
    .blog-card {
        display: flex;
    }

    .description {
        overflow: hidden;
    }
}
