@import '../../mixins';

.blog-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-card {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    max-width: 650px;
    background: white;

    h3 {
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
    }

    h3,
    p {
        color: #465061;
    }

    p.description {
        font-size: 18px;
        line-height: 28px;
    }

    p.meta {
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .text-wrapper {
        padding: 20px;
    }

    .img-wrapper {
        background: #27263f;
        display: flex;
        justify-content: center;

        img {
            height: 175px;
            width: auto;
        }
    }

    &:focus-within {
        box-shadow: 0 0 0px 3px #a2c0e6;
    }

    &:focus,
    &:hover,
    &:focus-within {
        background: #ecf1f8;
        outline: none;

        h3 {
            text-decoration: underline;
        }
    }

    .tags {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: flex-start;

        .my-tag {
            margin-right: 10px;
        }
    }
}

@include smaller-than(small-screen) {
    .blog-card-wrapper {
        padding: 30px;
        padding-bottom: 0px;

        &:last-of-type {
            padding-bottom: 30px;
        }

        .blog-card .img-wrapper img {
            height: 250px;
        }
    }
}

@include smaller-than(mobile-screen) {
    .blog-card-wrapper .blog-card .img-wrapper img {
        height: 175px;
    }

    .description {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }
}


@include smaller-than(tiny-screen) {
    .blog-card-wrapper {
        .description {
            display:none;
        }
    
        h3 {
            text-align: center;
        }
    
        .meta {
            text-align: center;
        }
    
        .tags {
            justify-content: center;
        }
    }
}

@include larger-than(small-screen) {
    .blog-card-wrapper {
        display: flex;
        width: calc(100% / 3);
        padding: 15px;
        box-sizing: border-box;
        &:first-of-type {
            width: 100%;
            img {
                height: 250px;
            }
        }
    }

    .description {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }
}

@include larger-than(large-screen) {
    .description {
        -webkit-line-clamp: initial;
        -webkit-box-orient: initial;
        display: initial;
        overflow: initial;
    }
}