@import "src/mixins";
$separator-height: 60px;

.apps {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1px;

    .separator {
        height: $separator-height;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px 70px;
        margin: 0 auto;
        box-sizing: border-box;
        width: 100%;

        >p {
            max-width: 450px;
            font-size: 22px;
            text-align: center;
        }

        >p+p {
            margin-top: 5px;
        }
    }

    .app-card {
        max-height: 300px;
        max-width: 300px;
        margin: 30px;
    }
}

@include smaller-than(small-screen) {
    .apps {
        .apps-list {
            text-align: center;
        }
    }
}


@include larger-than(mobile-screen) {
    .apps {
        overflow-y: auto;

        main {
            align-items: center;
            max-width: 100%;

            >p {
                max-width: 550px;
            }
        }
    }
}

@include larger-than(small-screen) {
    .apps {
        main {
            max-width: 1200px;

            >p {
                max-width: 850px;
            }
        }
    }
}

@include larger-than(large-screen) {
    .apps {
        main {
            max-width: 1350px;
        }
    }
}