@import "src/mixins";
$cell-size: 15px;

.github-card {
    background: var(--secondary-bg);
    text-decoration: none;
    border: 1px solid var(--secondary-text);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;

    &:hover,
    &:focus {
        background: var(--primary-bg);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--focus-shadow);
    }

    .top-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-text);
        flex-wrap: wrap;
        padding: 0 15px;

        .source {
            display: flex;
            align-items: center;
        }
        img {
            filter: invert(1);
            height: 30px;
        }
        .link {
            margin: 0 4px;
            font-size: 16px;
        }

        .count {
            margin-left: 34px;
            line-height: 10px;
        }
    }

    .contributions {
        overflow-x: auto;
        display: grid;
        width: 100%;
        color: var(--secondary-text);
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        direction: rtl;
        justify-items: flex-end;
        padding: 15px;
        box-sizing: border-box;
    }

    .month {
        text-align: left;
        font-size: 10px;
        text-decoration: underline;
    }

    .day {
        box-shadow: 0 0 0 0.6px #00000075 inset;
        background: var(--quaternary-bg-active-light);
    }
}

@include smaller-than(mobile-screen) {
    .github-card {
        .day {
            height: 12px;
            width: 12px;
        }
    }
}

@include larger-than(mobile-screen) {
    .github-card {
        .day {
            height: 15px;
            width: 15px;
        }
    }
}

@include larger-than(small-screen) {
    .github-card {
        .day {
            height: 17px;
            width: 17px;
        }
    }
}

@include larger-than(large-screen) {
    .github-card {
        .day {
            height: 20px;
            width: 20px;
        }
    }
}
