.apps-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1px;

    header {
        min-height: 80px;
        max-height: 80px;
        display: flex;
        align-items: center;
        background-color: #7897BF;

        .title {
            font-size: 48px;
            line-height: 48px;
            margin: 0;
            padding-left: 32px;
            font-family: Cairo, sans-serif;
            color: #fff;
        }
    }

    main {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }

    .app-card {
        max-height: 300px;
        max-width: 300px;
        margin: 30px;
    }
}

.apps-gallery:not(.mobile) {
    main {
        overflow-y: auto;
    }
}

.mobile.apps-gallery {
    header {
        justify-content: center;
        .title {
            padding: 0;
        }
    }

    main {
        justify-content: center;
    }
}
