@import '../mixins';

$header-height: 80px;
$separator-height: 60px;
$card-margin: 30px;

.bio {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 1px;
    display: flex;
    flex-direction: column;

    .info-card {
        max-width: 1400px;
        width: 100%;
        min-width: 1px;
    }
    
    .contact-card {
        max-width: 1400px;
        min-width: 1px;
        width: 100%;
    }
    
    .separator {
        height: $separator-height;
    }
    
    header {
        min-height: 80px;
        max-height: 80px;
        display: flex;
        align-items: center;
        background-color: #7897BF;
    
        .title {
            font-size: 48px;
            line-height: 48px;
            margin: 0;
            padding-left: 32px;
            font-family: Cairo, sans-serif;
            color: #fff;
        }
    }
}

@include smaller-than(mobile-screen) {
    .bio {
        header {
            justify-content: center;
            .title {
                padding: 0;
            }
        }
    }
}

@include larger-than(mobile-screen) {
    .bio main {
        overflow-y: scroll;
    }
}
