@import '~frontend/mixins';

:root {
    --dark-bg-1: hsl(213deg 29% 9%);  
    --primary-bg: hsl(211deg 41% 14%);
    --secondary-bg: #111b27;
    --tertiary-bg: hsl(218deg 43% 30%);
    --quaternary-bg: hsl(219deg 37% 16%);
  
    --quaternary-bg-active: #27385a;
    --quaternary-bg-intent: #324873;
    --quaternary-bg-active-light: #202d46;
  
    --primary-text: rgb(228, 228, 231);
    --secondary-text: #abb7cb;
    --accent-text: #66cccc;
    --focus-shadow: #a2c0e6;
}

html {
    color: var(--primary-text);
}

.layout {
    display: flex;
    height: 100%;
    background: var(--dark-bg-1);

    @include smaller-than(mobile-screen) {
        flex-direction: column;
        overflow-y: auto;
    }

    @include larger-than(mobile-screen) {
        height: 100%;
    }
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Cairo", sans-serif;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: normal;
}

h3 {
    font-family: "Cairo", sans-serif;
    font-size: 30px;
    line-height: 40px;
}

h4 {
    font-size: 22px;
}

ul,
p {
    margin: 0;
}