body {
    margin: 0px;
    padding: 0px;
    font-family: "Cairo", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: normal;
}

h3 {
    font-family: "Cairo", sans-serif;
    font-size: 30px;
    line-height: 40px;
}

p {
    margin: 0;
}

html,
body,
#root,
.layout {
    min-height: 100%;
}
