.emphatic-point {
    background: #f9f3ec;
    box-shadow: 4px 4px #a39e96;
    margin: 0;
    padding: 20px;

    .title {
        margin: 0;
        text-align: left;
        font-size: 26px;
        line-height: 26px;
    }

    .icon {
        font-size: 20px;
        vertical-align: bottom;
    }

    .content {
        margin: 0;
        text-align: left;
        font-style: italic;
        line-height: 26px;
    }
}
