.emphatic-point {
    color: var(--accent-text);
    display: flex;
    justify-content: center;

    .quote {
        max-width: 600px;
        width: 600px;
        border: 2px solid;
        border-radius: 8px;
        margin: 0;
        padding: 20px;
        background: var(--secondary-bg);
    }

    .content {
        margin: 0;
        text-align: left;
        font-style: italic;
        text-align: center;
        line-height: 26px;
        font-size: 18px;
    }
}
