@import "src/mixins";

.blog-post {
    width: 100%;
    background: hsl(214deg 20% 8%);
    box-sizing: border-box;

    .blog-post-content {
        margin: 0 auto;
        max-width: 1280px;
        background: var(--dark-bg-1);
    }

    .img-wrapper {
        display: flex;
        justify-content: center;
        background: linear-gradient(160deg,
                rgba(2, 0, 36, 1) 0%,
                rgba(110, 9, 121, 1) 43%,
                rgba(0, 255, 239, 1) 100%);

        box-shadow: 0px 10px 20px -10px black inset;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        img {
            height: 255px;
        }
    }

    header {
        display: flex;
        flex-direction: column;
        background: var(--primary-bg);

        .title {
            font-size: 40px;
            line-height: 40px;
        }

        .meta {
            color: var(--secondary-text);
            margin-top: 10px;
        }

        .tags {
            margin: 0;
            list-style-type: none;
            padding: 0;
            display: flex;
            margin-top: 10px;

            .my-tag {
                margin-right: 10px;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;

        >h3 {
            margin-top: 50px;
            line-height: 30px;
            font-size: 30px;
            &:first-of-type {
                margin-top: 0;
            }
        }

        >p {
            font-size: 18px;
            margin-top: 20px;
        }

        >p+h3 {
            margin-top: 80px;
        }

        >.emphatic-point {
            margin: 20px;
        }

        >.emphatic-point+p {
            margin-top: 0;
        }

        >h3+p {
            margin-top: 20px;
        }
    }
}

@include smaller-than(mobile-screen) {
    .blog-post {
        header {
            padding: 20px 30px 30px;
        }

        main {
            padding: 30px;
        }

        footer {
            padding: 30px 30px 50px;
        }
    }
}

@include smaller-than(tiny-screen) {
    .blog-post {
        footer {
            padding: 30px 10px 50px;
        }
    }
}

@include larger-than(mobile-screen) {
    .blog-post {
        overflow-y: auto;

        header {
            padding: 30px 40px 40px;
        }
        main {
            padding: 30px 40px;
        }
        footer {
            padding: 30px 40px 60px;
        }
        img {
            height: 350px;
        }
    }
}

@include larger-than(small-screen) {
    .blog-post {
        header {
            padding: 40px 60px 40px;
        }
        main {
            padding: 40px 60px;
        }
        footer {
            padding: 40px 60px 80px;
        }
    }
}